@font-face {
  font-family: Fugit-Light;
  src: url(assets/type/Fugit-Light.otf);
}
@font-face {
  font-family: Cling;
  src: url(assets/type/Cling.otf);
}

@font-face {
  font-family: Pantasia-Regular;
  src: url(assets/type/PantasiaUnlicencedTrial-Regular.otf);
}

@font-face {
  font-family: PPRightSerifMono-Fine;
  src: url(assets/type/PPRightSerifMono-Fine.otf);
}


body,
html {
  padding: 0px;
  margin: 0px;
  cursor: ne-resize;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url("assets/img/grey.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-font,
.custom-font * {
  font-family: "Cling", sans-serif !important;
  background-color: white !important;
  color:black !important;
}


::-webkit-scrollbar {
  background: none;
}

/* custom cursor */
#circularcursor {
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 20px;
  pointer-events: none;

  height: 20px;
  width: 20px;
  border-radius: 50%;

  position: absolute;
  z-index: 9999;
}

a {
  text-decoration: none;
color:black;
  cursor: none;
}

a:visited {
  text-decoration: none;
color:black;
  cursor: none;
}

a:hover{
    color: rgb(219, 150, 196)

}



.husk a{
  color: rgb(92, 192, 162);

}


.main {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: space-around;
  grid-row-gap: 1px;
  grid-template-rows: auto auto auto auto auto auto auto auto;
  padding: 1px;

}

.main>div {
  text-align: center;
  padding: 15px;

}

.ripened {
  font-family: "PPRightSerifMono-Fine", monospace;

  /* font-family: "Fugit-Light"; */
  font-size: 0.8em;
  letter-spacing: 0px;


}


.rosary {
  /* font-family: "Director", monospace ; */
  font-size: 1em;

  font-family: "Pantasia-Regular";
  letter-spacing: -2px;

}

.about.rosary{
  letter-spacing:0px;
  color:rgb(65, 39, 39);
}

.earthseed {
  font-family: "Fugit-Light";
  font-size: 1.5em;
  letter-spacing: -1.4px;

}

.fields{
  
  width: 200px;       /* or 100% or any size you want */
  overflow: hidden; 
}


.green-fruit:hover {
     background: radial-gradient(circle at center, white 70%, rgba(245, 255, 250, 1) 100%);
  border-radius: 20px;
  box-shadow: 
    0 0 100px 40px rgba(109, 247, 173, 0.3),
        inset 0 0 80px 40px rgba(109, 247, 173, 0.3),

    0 0 40px 20px rgba(109, 247, 173, 0.2);


}

.purple-fruit:hover {
   background: radial-gradient(circle at center, white 70%, rgba(245, 255, 250, 1) 100%);
  border-radius: 20px;
  box-shadow: 
    0 0 100px 40px rgba(219, 150, 196, 0.3),
        inset 0 0 80px 40px rgba(219, 150, 196, 0.3),

    0 0 40px 20px rgba(219, 150, 196, 0.2);
 
}

.hypertext{
  background: radial-gradient(circle at center, white 70%, rgba(245, 255, 250, 1) 100%);
  border-radius: 20px;
  box-shadow: 
    0 0 100px 40px rgba(219, 150, 196, 0.4),
        inset 0 0 80px 40px rgba(219, 150, 196, 0.4),

    0 0 40px 20px rgba(219, 150, 196, 0.3);

}
.blue-fruit:hover {
  text-shadow: 0 0 20px rgba(22, 3, 232, 0.6), 0 0 40px rgba(22, 3, 232, 0.6);
  border-radius: 20px;

  box-shadow: 
    0 0 90px 20px rgba(22, 3, 232, 0.3),
        inset 0 0 50px 40px rgba(22, 3, 232, 0.3),
            0 0 40px 20px rgba(22, 3, 232, 0.2);

}
.yellow-fruit:hover {
text-shadow: 
  0 0 5px rgba(231, 237, 146, 1),
  0 0 15px rgba(231, 237, 146, 0.9),
  0 0 30px rgba(193, 196, 151, 0.8),
  0 0 60px rgba(193, 196, 151, 0.6),
  0 0 100px rgba(193, 196, 151, 0.4); 
   border-radius: 20px;
  
   box-shadow: 
    0 0 90px 20px rgba(231, 237, 146, 0.3),
        inset 0 0 50px 40px rgba(231, 237, 146, 0.3),
            0 0 40px 20px rgba(231, 237, 146, 0.2);

}


/* additional */

.empty-vessel{
  padding:6em;
}

.touched{
font-size:1.2em;

}

.burst {
    position: fixed;
    left: 0;
    top: 0;
    background: none;
    color: #3a3a3a;
    object-fit: cover;
    padding: 6px 10px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    z-index: 1000;
    border-radius: 70px;

  }
.citation{
    font-family: "Fugit-Light";
    letter-spacing: 0.2px;
    font-size: 0.9em;

  }
  .word {
    display: inline-block;
  }

  .word:hover {
    color: rgb(150, 219, 191)!important;


  }

@media (max-width:830px){
  
body,
html {
  
  background-image: url("assets/img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.main{
  display:none;
  
}

.mobile{
    display: grid;
justify-content: center;
 font-size: 1em;

height: 100vh; 

place-items: center;
  font-family: "Pantasia-Regular";

}}

@media (min-width:830px){
  




.mobile{
    display: none;
}}